@font-face {
    font-family: 'FontAwesome';
    src: url('../../dependencies/assets/less/icons/font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('../../dependencies/assets/less/icons/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../../dependencies/assets/less/icons/font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../../dependencies/assets/less/icons/font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../../dependencies/assets/less/icons/font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../../dependencies/assets/less/icons/font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  /*
  login page
  */
  .login {
      background-color : #03A9F4;
      height: 100%;
      position: fixed;
      overflow : scroll;
  }
  
  /*
  controls
  */
  .dropdown-label {
      padding:7px 0 0 0px;
  }
  
  /*.grid-checkbox{
      width : 25px;
      height : 25px;
  }*/
  
  .grid-action-button {
      margin-right:5px;
      display:inline;
      cursor:pointer;
  }
  
  
  /*
  adoptation for screen sizes
  */
  @media all and (max-height: 768px) {
      .login-box-position {
          margin-top: 10px;
      }
  }
  
  .navbar-nav>.open>a {
      background : #E0E0E0 !important;
      color : black !important;
  }
  .sidebar-active{
      background : red;
  }
  body.minimized .nav-item-level2{
      margin-left:0px !important;
      padding-left:3px !important;
  }
  .nav-item-level2{
      padding-left:10px !important;
  }
  
  body.minimized .nav-item-submenu{
      margin-left:0px !important;
      padding-left:12px !important;
  }
  
  .nav-item-submenu {
      padding-left:21px !important;
  }
  
  body.minimized .nav-item-subsubmenu{
      margin-left:0px !important;
      padding-left:17px !important;
  }
  
  .nav-item-subsubmenu {
      padding-left:31px !important;
  }
  
  body.minimized .nav-item-level3{
      margin-left:0px !important;
      padding-left:7px !important;
  }
  .nav-item-level3{
      width:100%;
      display:inline-block !important;
      padding-left:20px !important;
  }
  
  body.minimized .nav-item-level4{
      margin-left:0px !important;
      padding-left:12px !important;
  }
  .nav-item-level4{
      padding-left:26px !important;
  }
  
  body.minimized .nav-item-level1{
      margin-left:0px !important;
      padding-left:8px !important;
  }
  .nav-item-level1{
      margin-left:0px;
      padding-left:0px;
  }
  
  .navbar-items{
      margin-top: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      width : 100%;
  }
  
  /* .top-bar{
      height : 70px !important;
  }
   */
  /*.top-bar-offset{
     /* margin-top : 70px !important;
  }*/
  
  .top-bar-shower-off{
      display : none;
  }
  
  .white-box{
      background: #ffffff;
      padding: 25px;
      margin-bottom: 15px;
  }
  
  @media screen and (max-width : 768px){
      .top-bar-toggler{
      display:none !important;
      }
  
      div.sidebar-toggler{
      display:none;
      }
      .hide-on-handsheld{
      display:none;
      }
  }
  
  @media screen and (min-width : 768px){
      /*index page*/
      .hide-logo{
      display: none;
      }
      .logo-container{
      z-index : 200;
      position:relative;
      }
      .sidebar{
      margin-bottom : 10px;
      margin-top:0px;
      /*min-height: 700px;*/
      position:relative;
      }
      body.minimized .sidebar{
          margin-bottom : 10px;
          margin-top:0px !important;
          top :0px;
          /*min-height: 700px;*/
          position:relative;
      }
  
      .sidebar-toggler{
          width:100%;
          text-align: right;
          position:absolute;
          padding-left : 12px;
          padding-top : 8px;
          right:0px;
          height : 30px;
          top:68px;
      }
      
      /*div.sidebar-toggler a{
      color:white;
      text-decoration:none;
      }*/
  
      body.top-bar-minimized .top-bar{
      /*height : 10px !important;*/
      display : none;
      }
  
      body.top-bar-minimized .top-bar-offset{
      margin-top : 0px !important;
      padding-top : 0px !important;
      }
  
      body.minimized .navbar-right{
      width : 100% !important; 
      }
      
      .hide-on-small{
          display : none !important;
      }
  
      .top-bar-toggler{
          position : absolute;
          top : 42px;
      }
      
      .top-bar-shower{
          display : block;
          position:fixed;
          top:5px;
          right:7px;
          text-decoration:none !important;
      }
      .top-bar-link{
          /*font-size:8pt;*/
          margin-left:0px;
          margin-top:5px;
          margin-bottom:1px;
      }
      /*li.top-bar-link a{
      color:gray !important;
      }
      li.top-bar-link a:hover{
      color:black !important;
      }*/
  
      /* gridView*/
      .new-button-action{
      margin-right : 150px;
      }
  
      /*actions buttons gridView*/
      .grid-last-actions-button{
          margin-right : 150px;
      }
      li.top-bar-link a{
          color:#555555 !important;
      }
      li.top-bar-link a:hover{
          color:black !important;
      }

        li.top-bar-link2 a.mysubmenu{
            color:#919293 !important;
        }
        li.top-bar-link2 a.mysubmenu:hover{
            color:black !important;
        }
        li.top-bar-link2 a.mysearch{
            color:#919293 !important;
        }
        li.top-bar-link2 a.mysearch:hover{
            color:#919293 !important;
        }
    }
  
  
  /* doc reports pages */
  .invoice-table-ship {
      margin-top: 20px; 
      border:2px solid black;
  }
  
  .invoice-table-ship tr{
      border:2px solid black;
  }
  
  .invoice-table-ship td{
      text-align : center;
  }
  
  .invoice-table-ship .row-header{
      background-color:black;
      color:white;
  }
  
  .invoice-table-ship td {
      border:2px solid black;
      font-weight : bold;
  }
  
  .invoice-table-detail .row-header{
      background-color:black;
      color:white;
      height:10px;
  }
  
  .invoice-table-summary td {
      font-weight : 600;
      padding-left : 5px;
  }
  .invoice-table-summary .summ {
      text-align : right;
  }
  
  /*finacial reports*/
  /*gaap reports*/
  .gaap-main-table td {
      text-align : center;
  }
  /*.gaap-main-table span{
     color : gray;
  }*/
  
  .gaap-main-table .top-row td{
      border-top : 0px;
  }
  
  .balance-sheet-table td{
      width : 100px;
  }
  
  .gaap-table-row-spacer{
      height:10px;
  }
  
  /*Order Entry Screens*/
  
  .order-entry-header .row-header td {
      font-weight : bold;
      background-color: #5184b0;
      color : #fff;
      border-left : 1px solid #fff;
  }
  
  .order-entry-main-table .title {
      font-weight : bold;
      color : black;
  }
  
  .order-entry-footer-left div {
      height : 20px;
  }
  
  .order-entry-footer-table td {
      padding-left : 3px;
  }
  
  .order-entry-balance-table td {
      padding-top : 5px;
  }
  
  .order-entry-flagsanddates-table td {
      padding-top : 2px;
  }
  
  .order-entry-flagsanddates-table {
      padding : 5px;
  }
  
  .order-entry-flagsanddates-table .date-title {
       width:1%;
       white-space:nowrap;
       padding-right: 20px;
  }
  
  .order-entry-footer-table input{
      max-width : 110px;
  }
  
  /* .navbar-inverse {
      background-color: #183048 !important;
      border-color: transparent;
  } */
  
  /*@media screen and (min-width: 768px) {
      #header .navbar-right {
          bottom: 20px;
          position: fixed;
          top: 0;
          left: 0;
          height: 30px !important;
          width: 100%;
          background-color: #e8eced;
          margin-left: 0px !important;
          padding-right: 0px !important;
      }
  }*/
  
  /* @media screen and (min-width: 768px) {
      #header ul.tabs {
          width: 250px;
          margin-left: -2px;
          overflow-y: hidden;
          overflow-x: hidden;
          top: 20px;
      }
  } */
  
  @media screen and (min-width: 768px) {
      #header .navbar-right>li>a {
          color: #999;
          padding: 5px 7px !important;
      }
  }
  
  @media screen and (min-width: 768px) {
      #header .navbar-right .menu-container {
          position: fixed;
          top: 0;
          right: 0;
          width: 62px!important; 
          margin-left: 5px;
          margin-top: 5px;
          margin-bottom: 1px;
      }
  }
  
  .right-sidebar {
    position: fixed;
    right: -240px;
    width: 240px;
    display: none;
    z-index: 1000;
    background: #ffffff;
    top: 70px;
    height: 100%;
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
  }

  .favbar {
    position: fixed;
    right: -240px;
    width: 240px;
    display: none;
    z-index: 1000;
    background: #ffffff;
    top: 32px;
    height: 100%;
    box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .m-t-20 {
      margin-top: 5px !important;
      padding-right: 10px !important; 
      padding-left: 10px !important;
  }
  
  ul#themecolors {
      padding-right: 10px !important; 
      padding-left: 10px !important;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
      display: block;
  }
  
  ul#themecolors li:first-child {
      display: block;
  }
  
  ul#themecolors li {
      display: inline-block;
  }
  
  .right-sidebar .r-panel-body ul li {
      list-style: none;
      padding: 5px 0;
  }
  
  ul#rightbar-help-section {
    padding-right: 10px !important; 
    padding-left: 10px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    display: block;
  }

  ul#themecolors {
    display: block;
  }
  ul#themecolors li {
    display: inline-block;
  }
  ul#themecolors li:first-child {
    display: block;
  }
  #themecolors li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
    color: transparent;
    position: relative;
  }
  #themecolors li a.working:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
  }
  .default-theme {
      cursor: pointer;
    background: #d3d3d3;
  }
  .green-theme {
      cursor: pointer;
    background: #00c292;
  }
  .yellow-theme {
      cursor: pointer;
    background: #fafc6c;
  }
  .blue-theme {
      cursor: pointer;
    background: #03a9f3;
  }
  .purple-theme {
      cursor: pointer;
    background: #9675ce;
  }
  .megna-theme {
      cursor: pointer;
    background: #01c0c8;
  }
  .default-dark-theme {
      cursor: pointer;
    background: #183048;
    /* Old browsers */
    background: -moz-linear-gradient(left, #919293 0%, #919293 23%, #d3d3d3 23%, #d3d3d3 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #919293 0%, #919293 23%, #d3d3d3 23%, #d3d3d3 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #919293 0%, #919293 23%, #d3d3d3 23%, #d3d3d3 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919293', endColorstr='#d3d3d3', GradientType=1);
    /* IE6-9 */
  }
  .green-dark-theme {
      cursor: pointer;
    background: #183048;
    /* Old browsers */
    background: -moz-linear-gradient(left, #183048 0%, #183048 23%, #00c292 23%, #00c292 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #183048 0%, #183048 23%, #00c292 23%, #00c292 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #183048 0%, #183048 23%, #00c292 23%, #00c292 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#183048', endColorstr='#00c292', GradientType=1);
    /* IE6-9 */
  }
  .yellow-dark-theme {
      cursor: pointer;
    background: #183048;
    /* Old browsers */
    background: -moz-linear-gradient(left, #183048 0%, #183048 23%, #fafc6c 23%, #fafc6c 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #183048 0%, #183048 23%, #fafc6c 23%, #fafc6c 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #183048 0%, #183048 23%, #fafc6c 23%, #fafc6c 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#183048', endColorstr='#fafc6c', GradientType=1);
    /* IE6-9 */
  }
  .blue-dark-theme {
      cursor: pointer;
    background: #183048;
    /* Old browsers */
    background: -moz-linear-gradient(left, #183048 0%, #183048 23%, #03a9f3 23%, #03a9f3 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #183048 0%, #183048 23%, #03a9f3 23%, #03a9f3 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #183048 0%, #183048 23%, #03a9f3 23%, #03a9f3 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#183048', endColorstr='@info', GradientType=1);
    /* IE6-9 */
  }
  .purple-dark-theme {
      cursor: pointer;
    background: #183048;
    /* Old browsers */
    background: -moz-linear-gradient(left, #183048 0%, #183048 23%, #9675ce 23%, #9675ce 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #183048 0%, #183048 23%, #9675ce 23%, #9675ce 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #183048 0%, #183048 23%, #9675ce 23%, #9675ce 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#183048', endColorstr='@purple', GradientType=1);
    /* IE6-9 */
  }
  .megna-dark-theme {
      cursor: pointer;
    background: #183048;
    /* Old browsers */
    background: -moz-linear-gradient(left, #183048 0%, #183048 23%, #01c0c8 23%, #01c0c8 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #183048 0%, #183048 23%, #01c0c8 23%, #01c0c8 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #183048 0%, #183048 23%, #01c0c8 23%, #01c0c8 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#183048', endColorstr='@megna', GradientType=1);
    /* IE6-9 */
  }
  .red-dark-theme {
      cursor: pointer;
    background: #e20b0b;
    /* Old browsers */
    background: -moz-linear-gradient(left, #183048 0%, #183048 23%, #e20b0b 23%, #e20b0b 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #183048 0%, #183048 23%, #e20b0b 23%, #e20b0b 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #183048 0%, #183048 23%, #e20b0b 23%, #e20b0b 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#183048', endColorstr='#e20b0b', GradientType=1);
    /* IE6-9 */
  }
  /*visited ul li*/
  .visited li a {
    color: #686868;
  }
  .visited li.active a {
    color: #ff6849;
  }
  
  .float-right {
      float: right !important;
  }

  .menu-nav-link {
      padding-left : 10px !important;
  }
  /*.nav-link{
      color:gray !important;
  }*/
  /*.nav-link:hover{
      color:#fff !important;
  }*/
  
  /*@media (min-width: 768px) {
      .navbar-right .dropdown-menu {
          left: 0;
          right: auto;
      }
  
      .dropdown-options {
          left: auto !important;
          right: 0 !important;
      }
  }*/
  .breadcrumb {
      padding: 20px 15px;
      margin-bottom: 0px;
      list-style: none;
      background-color: #fefefe;
      border-radius: 0;
  }
  
  .dropdown-submenu {
      position: relative !important;
      background-color: #d3d3d3;
  }
  
  .dropdown-submenu .dropdown-menu {
      top: 0 !important;
      left: 100% !important;
      margin-top: -1px !important;
      background-color: #d3d3d3;
  }
  
  .dropdown-menu {
    background-color: #d3d3d3;
   }

  
  .favorits {
      font-size: x-large;
      cursor: pointer;
  }
  
  .simple .row {
      margin-top: 15px;
  }
  
  .simple span{
      background-color: #f9f9f9;
      border-radius: 0;
      border: 1px solid #e8eced;
  }
  /*
  .style-5 span {
    padding: 5px;
    border: solid 1px #C0C0C0;
    -webkit-box-shadow: inset 1px 1px 5px 0 #707070;
    -moz-box-shadow: inset 1px 1px 5px 0 #707070;
    box-shadow: inset 1px 1px 5px 0 #707070;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s; 
  }
  
  .style-5 input[type="text"] {
    padding: 5px;
    border: solid 1px #C0C0C0;
    -webkit-box-shadow: inset 1px 1px 5px 0 #707070;
    -moz-box-shadow: inset 1px 1px 5px 0 #707070;
    box-shadow: inset 1px 1px 5px 0 #707070;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
  
  .style-5 input[type="text"]:read-only {
    padding: 5px;
    border: solid 1px #C0C0C0;
    -webkit-box-shadow: inset 1px 1px 5px 0 #707070;
    -moz-box-shadow: inset 1px 1px 5px 0 #707070;
    box-shadow: inset 1px 1px 5px 0 #707070;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    background-color: #eeeeee;
  }
  
  .style-5 select {
    padding: 5px;
    border: solid 1px #C0C0C0;
    -webkit-box-shadow: inset 1px 1px 5px 0 #707070;
    -moz-box-shadow: inset 1px 1px 5px 0 #707070;
    box-shadow: inset 1px 1px 5px 0 #707070;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s; 
    background-color: white;
  }
  .style-5 div{
    padding: 5px;
    border: solid 1px #C0C0C0;
     -webkit-box-shadow: inset 1px 1px 5px 0 #707070;
    -moz-box-shadow: inset 1px 1px 5px 0 #707070;
    box-shadow: inset 1px 1px 5px 0 #707070;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    background-color: #eeeeee;
  }
  .style-5 input[type="text"]:focus, .style-5 input[type="text"].focus {
    -webkit-box-shadow: inset 1px 1px 5px 0 #c9c9c9;
    -moz-box-shadow: inset 1px 1px 5px 0 #c9c9c9;
    box-shadow: inset 1px 1px 5px 0 #c9c9c9;
  } */
  
  .style-5 table.noinputborders input{
      border : none;
  }
  
  .style-5 span,
  .style-5 div, 
  input, 
  select, 
  textarea, 
  input.form-control,
  select.form-control,
  textarea.form-control,
  .form-control[readonly] {
      border: solid 1px #C0C0C0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #efefef;
      padding: 5px;
  }
  
  .white-box label {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 100;
      line-height: 26px;
      color: #666;
      margin-bottom: 0;
  }
  .white-box label.pull-left {
      padding: 3px 5px 0 0;
  }
  #itemData #GLBankAccount {
      width: 66%;
  }
  .full-field input {
      width: 100%;
  }
  .btn-default {
      border-color:#cecece;
      background: #f3f3f3;
  }
  #itemData .nav-tabs > li a,
  #itemData .nav-tabs > li a:hover {
      width: 200px;
      background: #cdcdcd;
  }
  #itemData .nav-tabs > li.active a {
      background: #fff;
      font-weight: 600;
  }
  #itemData .nav-tabs > li a {
      color: #000;
      padding: 7px 15px;
      line-height: 1;
      margin-bottom: -1px;
      border-radius: 3px 3px 0 0;
  }
  #itemData  .tab-content {
      border: 1px solid #e9eced;
      overflow: hidden;
  }
  
  .grid-items > .row:last-child {
      margin-top: 20px;
  }
  
  .btn-default,
  .btn-info {
      border-radius: 3px;
  }
  
  .row {
      position: relative;
  }
  
  .to-bottom {
      position: absolute;
      bottom: 0;
  }
  
  .subgrid-input {
      width : 100% !important;
  }
  
  /* Redesign tables */
  .simple-form table.dataTable {
      border: none;
      border-bottom: 1px solid #666666;
      box-shadow: 0px 1px 0px 0px #c2c2c2;
      -webkit-box-shadow: 0px 1px 0px 0px #c2c2c2;
      -moz-box-shadow: 0px 1px 0px 0px #c2c2c2;
      box-shadow: 0px 1px 0px 0px #c2c2c2;
  }
  .simple-form table.dataTable > tbody > tr:nth-of-type(odd) {
      background-color: #ffffff;
  }
  .simple-form table.dataTable > tbody > tr:nth-of-type(even) {
      background-color: #E3EFFE;
  }
  .simple-form table.dataTable > tbody > tr > td {
      border-color: #c2c2c2;
      border-top: none;
  }
  .simple-form table.dataTable > tbody > tr > td:first-child {
      border-left-width: 1px;
  }
  .simple-form table.dataTable > tbody > tr > td:last-child {
      border-right-width: 1px;
  }
  .simple-form table.dataTable > thead > tr > th {
      text-transform: uppercase;
      font-size: 12px;
      padding: 4px 10px;
      border-bottom: 1px solid #c2c2c2;
  }
  .simple-form table.dataTable thead > tr:hover > th {
      background: #eee;
      background: linear-gradient(to bottom, #fff, #eee);
      background: -webkit-linear-gradient(to bottom, #fff, #eee);
      background: -moz-linear-gradient(to bottom, #fff, #eee);
  }
  .simple-form table.dataTable thead > tr > th:hover {
      -webkit-box-shadow: inset 0px 0px 0px 1px #0001FD;
      -moz-box-shadow: inset 0px 0px 0px 1px #0001FD;
      box-shadow: inset 0px 0px 0px 1px #0001FD;
  }
  
  .simple-form table.dataTable thead tr th:first-child:after {
      content: "";
  }
  .simple-form table.dataTable thead .sorting_asc:after,
  .simple-form table.dataTable thead .sorting_desc:after,
  .simple-form table.dataTable thead .sorting:after {
      opacity: 1;
      font-size: 18px;
      bottom: 3px;
  }
  .simple-form table.dataTable thead .sorting_asc:after {
      content: "\25BE";
  }
  .simple-form table.dataTable thead .sorting_desc:after {
      content: "\25B4";
  }
  .simple-form table.dataTable thead .sorting:after {
      content: "\25BE";
  }
  
  h4 {
      font-size: 40px;
  }
  
  .about-order > .form-control {
      margin-bottom: 7px;
  }
  
  /* wrap class for custom select, if it must look like select, but it's the input text */
  .custom-select {
      position: relative;
  }
  .custom-select:after {
      position: absolute;
      content: "\25BE";
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      font-size: 20px;
  }
  .custom-select > input {
      padding-right: 18px;
  }
  
  /* blue line on top with addition params of inputs */
  .top_params {
      padding: 10px 5px 10px 10px;
      background: #6380A0;
      margin: -11px -16px 0 -37px; 
  }
  .top_params label {
      color: #fff;
      margin: 3px 5px 0 0;
      padding: 0;
      white-space: nowrap;
  }
  .top_params input {
      width: 100%;
  }
  
  /* Vertical right side bar which slides */
  #row_viewer {
      margin-right: 15px;
  }
  .right_minimized .content {
      margin-right: 215px;
  }
  .right_minimized .right_bar {
      width: 250px;
  }
  .right_bar {
      position: fixed;
      right: 0;
      background: #B0B0B0;
      width: 36px;
      height: 100%;
      top: 44px;
  }
  .right_bar .toggle {
      width: 12px;
      height: 12px;
      margin: 10px;
      font-family: 'Glyphicons Halflings';
      cursor: default;
  }
  .right_bar .toggle:after {
      content: "\e257";
      padding: 2px;
      font-size: 12px;
      border-radius: 4px;
      color: #fff;
  }
  .right_minimized .right_bar .toggle:after {
      content: "\e258";
  }
  .right_bar .toggle:hover:after {
      background: #404040;
  }
  .right_bar_wrap {
      display: none;
      height: calc(100% - 95px);
      padding-bottom: 20px;
  }
  .right_minimized .right_bar_wrap {
      display: block;
  }
  .right_bar .nav {
      border: none;
      margin: 15px 10px 0;
  }
  .right_bar .nav > li a {
      padding: 7px 15px;
      line-height: 1;
      margin: 0 3px -1px 0;
      border-radius: 5px 5px 0 0;
      color: #cdcdcd;
      background: #666;
      font-size: 12px;
  }
  .right_bar .nav > li.active a {
      color: #2e2e2e;
      background: #fff;
      font-weight: 600;
  }
  .right_bar .nav > li.active a:hover {
      border-color: #fff;
  }
  .right_bar .nav > li a:hover {
      border-color: #666;
  }
  .right_bar .tab-content {
      margin: 0 10px;
      background: #fff;
      padding: 7px;
      border-radius: 0 5px 5px 5px;
      z-index: 1;
      position: relative;
      height: 100%;
  }
  .right_bar .tab-content > .tab-pane {
      height: calc(100% - 60px);
  }
  .right_bar .tab-group {
      margin-top: 20px;
      height: 33%;
  }
  .right_bar .tab-group-title {
      text-transform: uppercase;
      border-bottom: 1px solid #e2e2e2;
      padding: 0 0 5px 0;
      font-weight: 600;
      font-size: 12px;
      color: #000;
  }
  .right_bar .tab-group-text {
      padding: 10px 0;
      height: 90%;
      overflow: auto;
  }
  
  /*style for Vehicles page*/
  .vehicles-manufacturers-row {
      border-top : 0px !important;
  }
  .vehicles-manufacturers-label {
      font-size: 13pt;
      font-weight : 600;
      color: #C17D11;
      border-top : 0px !important;
  }
  
  .vehicles-manufacturers-value {
      font-size: 13pt;
      font-weight : 600;
  /*    color: #C17D11;*/
      border-top : 0px !important;
  }
  
  .newManufacturersInvoice th{
      background-color : #2E3436;
      color: #BABDB6;
      font-size: 13pt;
      border-color : #2E3436 !important;
      font-weight : 600;
  }
  .newManufacturersInvoice td{
      border-color : 2px solid #BABDB6 !important;
  }
  
  .bs-glyphicons { 
      margin: 0 -10px 20px;
      /* overflow: hidden; */
      z-index: 1000;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: #563d7c;
  }
  .bs-glyphicons-list {
      padding-left: 0;
      list-style: none;
  }
  .bs-glyphicons li {
      /* float: left; */
      width: 25%;
      height: 66px;
      /* height: 115px;
      padding: 10px; */
      font-size: 10px;
      line-height: 1.4;
      text-align: center;
      /* background-color: #563d7c; */
      /* border: 1px solid #dfdfdf; */
      color:#dfdfdf;
      /* cursor: pointer; */
  }
  .bs-glyphicons .glyphicon {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 24px;
  }
  .bs-glyphicons .glyphicon-class {
      display: block;
      text-align: center;
      word-wrap: break-word; /* Help out IE10+ with class names */
  }
  .bs-glyphicons li:hover {
      color: #000;
      /* background-color: #f9f9f9; */
  }

  .left-iconbar-wrapper {
      width: 100px !important;
  }
  
  .left-iconbar-collapse {
      padding-left: 0px;
      padding-right: 0px;
  }

  .left-iconbar-active {
      background-color: red !important;
  }
  
  @media (min-width: 768px) {
      .bs-glyphicons {
          margin-right: 0;
          margin-left: 0;
          margin-top: 70px;
          width: 100px !important;
      }
      .bs-glyphicons li {
          width: 100px;
          font-size: 12px;
      }
      .bs-glyphicons-neighbour {
          width: 40px !important;
      }
  }
  
  body>.content {
      margin-left: 100px;
  }

.thumbnail {
    padding:0px;
}

.custom-menu-bar {
    height: 80px;
    width: 100%;
    top: -10px;
    z-index:100;
    position: fixed;
    background-color: white;
    left: 0;
    /* margin-left: 250px; */
    padding-top: 10px;
}

.test123 a{
    color: #919293 !important;
}

.test123 a:hover{
    color: black;
}

.bs-glyphicons2 li {
    /* float: left; */
    width: 25%;
    height: 66px;
    /* height: 115px;
    padding: 10px; */
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    /* background-color: #563d7c; */
    /* border: 1px solid #dfdfdf; */
    color:#dfdfdf;
    /* cursor: pointer; */
}

.bs-glyphicons2 li:hover {
    color: #000;
    /* background-color: #f9f9f9; */
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    list-style: none;
    padding: 0;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}

/*
    Search
*/
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
  
/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 4px;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
  
#search-submit-id {
  font-size: 20px;
  display: none;
  cursor: pointer;
}

/*
 styles for compact
*/
.form-horizontal .form-group {
    margin-left: 5px;
    margin-right: -7.5px;
    margin-bottom: 5px;
}

.label {
    margin-top: 5px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px 2px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.bg-title {
    padding-left : 15px;
    padding-right : 15px;
}
