.navbar-inverse {
    background-color: #183048 !important;
    border-color: transparent;
}

@media screen and (min-width: 768px) {
    /* #header .navbar-header {
        background-color: #183048;
    } */

    #header .navbar-right {
        background-color: #183048 !important;
    }
}

.sidebar-toggler{
    background:#183048 !important;
}

div.sidebar-toggler a{
    color:white;
    text-decoration:none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #dfdfdf;
}

.navbar-inverse .navbar-nav>li.sidebar-active>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}

li.top-bar-link .dropdown-toggle{
    color:#fff !important;
}
li.top-bar-link .dropdown-toggle:hover{
    color:#dfdfdf !important;
}

.bs-glyphicons {
    background-color: #183048 !important;
}

.bs-glyphicons li {
    background-color: #183048;
    color:#dfdfdf !important;
}

.bs-glyphicons li:hover {
    color:gray !important;
}

.bs-glyphicons li a{
    background-color: #183048;
    color:#dfdfdf !important;
}

.bs-glyphicons li a:hover {
    color:gray !important;
    text-decoration: none;
}
