/*
login page
*/
.login {
    background-color : #03A9F4;
    height: 100%;
    position: fixed;
    overflow : scroll;
}

/*
controls
*/
.grid-checkbox{
    width : 25px;
    hegith : 25px;
}

.grid-action-button {
    margin-right:5px;
    display:inline;
    cursor:pointer;
}


/*topbar*/
.lang-item {
    font-size:12pt;
}
.lang-item img {
    margin-bottom:2px;
    margin-right:5px;
}

/*
adoptation for screen sizes
*/
@media all and (max-height: 700px) {
    .login-box-position {
	margin-top: 10px;
    }
}

@media (min-width: 768px){
    .sidebar-lift {
	position:absolute;
	top:-50px;
	z-index:5000;
    }
}

.sidebar .nav-fourth-level li {
  border-bottom: none !important;
}

.sidebar .nav-fourth-level li a {
  padding-left: 62px;
}

/*Order Entry Screens*/

.order-entry-header tbody > tr > td{
    padding: 9px;
}

.order-entry-header .row-header {
    height : 10px;
}

.order-entry-header .row-header td {
    font-weight : bold;
    background-color: #4F5467;
    /*background-color: #black;*/
    color : #fff;
    border-left : 1px solid #fff
    /*    border-left : 1px solid; /* #fff;*/
}

.order-entry-main-table .title {
    font-weight : bold;
    color : black;
}

.order-entry-footer-left div {
    height : 20px;
}

.order-entry-footer-table td {
    padding-left : 3px;
}

.order-entry-balance-table td {
    padding-top : 5px;
}

.order-entry-flagsanddates-table td {
    padding-top : 2px;
}

.order-entry-flagsanddates-table {
    padding : 5px;
}

.order-entry-flagsanddates-table .date-title {
     width:1%;
     white-space:nowrap;
     padding-right: 20px;
}

.order-entry-footer-table input{
    max-width : 110px;
}


@media print {
  a[href]:after {
    content: none !important;
  }
}

.sidebar .nav-second-level li a {
    padding: 5px 15px 5px 43px;
}

.sidebar .nav-second-level .arrow {
    right: 15px;
    top: 8px;
}

.sidebar .nav-third-level li a {
    padding: 5px 15px 5px 52px;
}

.sidebar .nav-fourth-level li {
    padding: 0px 15px 0px 5px;
}
