/*
login page
*/
.login {
    background-color : #03A9F4;
    height: 100%;
    position: fixed;
    overflow : scroll;
}

/*
controls
*/
.grid-checkbox{
    width : 25px;
    hegith : 25px;
}

.grid-action-button {
    margin-right:5px;
    display:inline;
    cursor:pointer;
}


/*
adoptation for screen sizes
*/
@media all and (max-height: 700px) {
    .login-box-position {
	margin-top: 10px;
    }
}

@media (min-width: 700px){
    .sidebar-lift {
	position:absolute;
	top:-50px;
	z-index:5000;
    }
}

.sidebar .nav-fourth-level li {
  border-bottom: none !important;
}

.sidebar .nav-fourth-level li a {
  padding-left: 62px;
}
