@font-face {
    font-family: 'Open Sans SemiBold';
    src: url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

body * {
  visibility: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
}

.site--header,
.site--footer,
.search--row,
.modal,
.right-sidebar {
  display: none;
}

.header-title {
  visibility: visible;
  position: absolute;
  top: 40px;
  font-size: 34px;
  font-family: 'Open Sans SemiBold', sans-serif;
  margin: 0;
  line-height: 1.1;
}

.article-body {
  font-size: 16px;
  line-height: 1.1;
  min-height: 300px;
  padding: 0;
  position: absolute;
  top: 130px;
  width: 95%;
}

.article--structure * {
  visibility: visible;
}

.article-controls {
  display: none;
}